.DS_Store
Icon[]
.Rhistory
Images
__pycache__
*.pyc

*.swp
*.sav
*.enc
*.key
*.log

Testing_folder/*/output/*
!Testing_folder/*/output/.gitignore
#!*/


### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
